@tailwind base;
@tailwind components;

html {
  @apply font-body antialiased;
}

.bg-dark {
  background-color: #060606;
  opacity: 0.1;
  z-index: 30;
}

.bg-cta {
  background-image: url(/assets/img/bg-cta-mobile.jpg);
}

.bg-figure {
  width: 112.5rem;
  height: 206.25rem;
}

@screen sm {
  .bg-figure {
    width: 131.25rem;
    height: 231.875rem;
  }

  .bg-cta {
    background-image: url(/assets/img/bg-cta-ipad.jpg);
  }
}

@screen md {
  .bg-figure {
    width: 115.875rem;
    height: 107.375rem;
  }
}

@screen lg {
  .bg-figure {
    height: 86.25rem;
  }

  .bg-cta {
    background-image: url(/assets/img/bg-cta-desktop.jpg);
  }
}

@screen xl {
  .bg-figure {
    width: 119.7rem;
    height: 87rem;
  }
}

@screen 2xl {
  .bg-figure {
    width: 118rem;
    height: 86rem;
  }
}

@tailwind utilities;
